@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div>
   <h1 class="display-4">Welcome Zeynep</h1>
    <button>logout</button>   
    </div>
    
    <div>
        <label>vadeli iban:TR0000000000 bakiye:99999</label>
    </div>
</div>
